@import './../abstracts/variables';

html, body {
  font-family: 'Open Sans', Tahoma, Geneva, Verdana, sans-serif;
}

// grid layout
.w_100p { width: 100%; }
.w_75_p { width: 75%; }
.w_50_p { width: 50%; }
.w_33_p { width: 33%; }

input {
  height: 35px;
  font-size: .8rem;
  padding: 0px 30px;
  border: 1px #e3e4e4 solid;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: $input_color;
}

input:focus {
  outline: none;
}

.row {
  display: block;
  height: 36px;
  border-top: 1px $border_secondary solid;
  border-bottom: 1px $border_secondary solid;
}

select {
  color: $text-color;
  height: 100%;
  padding-left: 5px;
  font-size: .7rem;
  border: none;
  border-top: 1px $border_secondary solid;
}

.no_margin_left {
  margin-left: 0px !important;
}

.no_margin_right {
  margin-right: 0px !important;
}
