<template>
  <div class="country">
    <div class="iti__flag" :class="codeClass"></div>
    <span>{{name}}</span>
  </div>
</template>

<script>
export default {
  name: "Country",
  props: {
    code: {
      type: String,
      default: ''
    },
    name: {
      type: String,
      defualt: ''
    }
  },
  data () {
    return {
      hello: '',
    }
  },
  computed: {
    codeClass() {
      return `iti__${this.code}`;
    }
  }
};
</script>

<style scoped lang="scss">

  @import './../../../assets/css/abstracts/_variables.scss';

  .country {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    
    span {
      font-size: .8rem;
      color: $text-color;
    }

    .iti__flag {
      margin-right: 10px;
    }
  }
</style>