﻿
/* ---------------------------------------------------------- */
/* - FONT-COLORS -------------------------------------------- */
/* ---------------------------------------------------------- */

$text-color: #a1a2a4;
$text-header-color: #6a6a69;
$context-color: #ffffff;

/* ---------------------------------------------------------- */
/* - BACKGROUND-COLORS -------------------------------------- */
/* ---------------------------------------------------------- */

$row: #f7f8f9;
$row_hover: #e9f3fb;
$row_header: #e9e9e9;
$context_menu: #34495d;

/* ---------------------------------------------------------- */
/* - BORDER-COLORS ------------------------------------------ */
/* ---------------------------------------------------------- */

$border_primary: #60a4aa;
$border_secondary: #dee0e1;

/* ---------------------------------------------------------- */
/* - BUTTON-COLORS ------------------------------------------ */
/* ---------------------------------------------------------- */

$button: #e9e9e9;
$button_hover: #dddddd;
$button_close: #ef4569;
$button_accept: #6cbd44;
$button_accept_hover: #5ca336;

/* ---------------------------------------------------------- */
/* - FORM-COLORS ------------------------------------------ */
/* ---------------------------------------------------------- */

$input_color: #8b8d8f;

/* ---------------------------------------------------------- */
/* - SHADOWS ------------------------------------------------ */
/* ---------------------------------------------------------- */
/* -- SHADOW_HEADER*/
$shh_inset: false;
    $shh_horizontal_offset: 0;
    $shh_vertical_offset: 0;
    $shh_blur: 2px;
    $shh_spread: 0;
    $shh_color: rgba(0,0,0,.25);

    /* -- SHADOW_FOOTER - Viewport S*/
    $shf_inset: true;
    $shf_horizontal_offset: 0;
    $shf_vertical_offset: 2px;
    $shf_blur: 6px;
    $shf_spread: 0;
    $shf_color: rgba(0,0,0,.15);


/* ---------------------------------------------------------- */
/* - MEDIA QUERIES ------------------------------------------ */
/* ---------------------------------------------------------- */

    /* -- VIEWPORT M */
    $viewport_m_min_width: 641px;
    $viewport_m_max_width: 980px;

    /* -- VIEWPORT S+M */
    $viewport_m_s_max_width: 980px;

    /* -- VIEWPORT S */
    $viewport_s_max_width: 640px;