<template>
  <ul class="context-menu">
    <li v-for="(item, index) in items" class="context-menu__item" @click="action(item)">
      <i class="material-icons">{{item.icon}}</i>
      <span>{{item.name}}</span>
    </li>
  </ul>
</template>

<script>

export default {
  name: "ContextMenu",
  data () {
    return {
      items: [
        {
          name: 'edit',
          icon: 'edit'
        },
        {
          name: 'delete',
          icon: 'delete'
        }
      ]
    }
  },
  methods: {
    action(item) {
      this.$emit('selected', item.name)
    }
  }
};
</script>

<style scoped lang="scss">

  @import './../../../assets/css/abstracts/_variables.scss';

  .context-menu {
    position: absolute;
    top: 25px;
    right: 35px;
    color: $context-color;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    z-index: 1;
    list-style-type: none;
    padding-left: 0px;
    width: 130px;

    i {
      color: $context-color;
      margin-right: 10px;
      font-size: .9rem;
    }

    &__item {
      display: inline-flex;
      align-items: center;
      font-size: .8rem;
      padding: 5px 8px;
      cursor: pointer;
      background: $context_menu;
    }

    &__item:hover {
      opacity: .9;
    }
  }
</style>  