@import './../abstracts/variables';
@import './../abstracts/mixins';

.material-icons {
  color: $text-color;

  &--icon-space {
    margin-right: 15px;
  }
}

.button {
  border: none;
  background: $button;
  color: $text-color;
  font-size: .9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &--close {
    background: #ffffff;

    i {
      color: $button_close;
    }
  }

  &--check {
    background: $button_accept;
    
    i {
      color: #ffffff;
    }
  }

  &--check:hover {
    background: button_accept_hover;
  }

  &--transparent {
    background: none;
    i {
      color: $context_menu !important;
    }
  }
}

button:hover {
  background: $button_hover;
}

button:focus {
  outline: none;
}