<template>
  <div class="exchange-rates">
    <div class="exchange-rates__overflow" @click="hideContextMenu()"></div>
    <header>
      <div class="exchange-rates__header">
        <caption class="row" v-html="title"></caption>
        <TimePeriodCountries></TimePeriodCountries>
      </div>
    </header>
    <main>
      <div class="exchange-rates__content">
        <TimePeriod v-for="(range, index) in ranges" :key="index" :range="range" :index=index></TimePeriod>
      </div>
    </main>
    <footer>
      <div class="row exchange-rates__footer">
        <AddTimeInterval></AddTimeInterval>
      </div>
    </footer>
  </div>
</template>

<script>

import axios from 'axios';
import TimePeriod from './../components/TimePeriod.vue';
import TimePeriodCountries from './../components/table/TimePeriodCountries';
import AddTimeInterval from './../components/actions/AddTimeInterval.vue';

export default {
  name: "ExchangeRates",
  components: {
    TimePeriod,
    AddTimeInterval,
    TimePeriodCountries
  },
  data () {
    return {
      title: 'Exchange Rates'
    }
  },
  computed: {
    ranges() {
      var data = this.$store.state.data;
      if(data != null) {
        return data
      }
    }
  },
  methods: {
    hideContextMenu() {
      this.$store.state.tpIndex = null
      this.$store.state.index = null
    }
  },
  mounted() {
    this.$store.dispatch('loadData');
  }
};
</script>

<style lang="scss">

@import './../../assets/css/abstracts/_variables.scss';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


.exchange-rates {
  height: 100%;
  margin: 0;
  width: 520px; 
  margin: 30px auto;

  * {
    position: relative;
  }

  &__overflow {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  &__header {
    border-top: 2px $border_primary solid;

    caption {
      text-transform: uppercase;
      display: flex;
      align-items: center;
      padding-left: 20px;
      font-weight: 700;
      color: $text-color;
      background: $row;
      font-size: .8rem;
    }
  }
}

.exchange-rates {
  display: flex;
  flex-direction: column;
}

</style>  