<template>
  <div class="time-period">
    <div class="row time-period__header">
      {{ start }} - {{ end }}
      <button class="button button--transparent">
        <i class="material-icons">more_vert</i>
      </button>
    </div>
    <TimePeriodRow v-for="(row, i) in rates" :key="i" :index="i" :tpIndex="index" :edit=true :rates="row"></TimePeriodRow>
  </div>
</template>

<script>

import moment from 'moment';
import TimePeriodRow from './../components/table/TimePeriodRow';
import EditTimeInterval from './../components/actions/EditTimeInterval';
import ContextMenu from './../components/context/ContextMenu';

export default {
  name: "TimePeriod",
  components: {
    TimePeriodRow,
    EditTimeInterval,
    ContextMenu
  },
  props: {
    range: {
      type: Object,
      default () {
        return {
          startAt: '',
          endAt: '',
          rates: null
        }
      }
    },
    index: {
      type: Number,
      default: null
    }
  },
  data () {
    return {
      hello: '',
    }
  },
  computed: {
    start() {
      return moment(this.range.startAt).format('DD.MM.YYYY');
    },
    end() {
      return moment(this.range.endAt).format('DD.MM.YYYY');
    },
    rates() {

      // get unique currency codes
      var data = this.$store.state.data;
      var rate = this.range.rates;
      var currencies = [...new Set(data[0].rates.map(x => x.toCurrencyCode))];

      var rates = []
      currencies.forEach((fromCurrency, i) => {
        rates[i] = {}
        rates[i][fromCurrency] = []
        currencies.forEach((toCurrency, j) => {

          // find rate value
          var value = rate.filter(x => {
            if((x.fromCurrencyCode == fromCurrency && x.toCurrencyCode == toCurrency) || (x.fromCurrencyCode == toCurrency && x.toCurrencyCode == fromCurrency)) {
              return x.rate;
            }
          });

          // for same currencies add '-'
          rates[i][fromCurrency][j] = value.length ? value[0].rate : '-';
        });
      });

      return rates;
    }
  }
};
</script>

<style scoped lang="scss">

  @import './../../assets/css/abstracts/_variables.scss';
  
  .time-period__header {
    font-size: .8rem;
    background: $row_header;
    border-top: none;
    padding: 0px 15px;
    color: $text-header-color;
    vertical-align: center;
    display: flex;
    align-items: center;
    font-weight: 700;
    justify-content: space-between;

    button {
      height: 100%;
      position: absolute;
      top: 0px;
      right: 0px;
    }
  }
</style>  