<template>
  <div class="row time-period__countries">
    <Country v-for="(currency, index) in currencies"
            :code="currency.substr(0, 2).toLowerCase()"
            :key="index"
            :name="currency"></Country>
  </div>
</template>

<script>

import Country from './../../components/shared/Country.vue'

export default {
  name: "TimePeriodCountries",
  components: {
    Country
  },
  data () {
    return {
      hello: '',
    }
  },
  computed: {
    currencies() {
      // get unique currency codes
      var data = this.$store.state.data
      if(data != null) {
        return [...new Set(this.$store.state.data[0].rates.map(x => x.toCurrencyCode))]
      }
    }
  },
  mounted() {

  }
};
</script>

<style scoped lang="scss">

  @import './../../../assets/css/abstracts/_variables.scss';

  .time-period__countries {
    display: flex;
    flex-direction: row;
    padding-left: 37%;
    padding-right: 9%;
    background: $row_header;
  }
</style>