<template>
  <div>
    <div class="row time-period__row">
      <div>
        <Country :code="getCountryCode(rates)"></Country>
        <p>1 {{ rateKey(0) }} corresponds to</p>
      </div>
      <p>{{ rateValue(0) }}</p>
      <p>{{ rateValue(1) }}</p>
      <p>{{ rateValue(2) }}</p>
      <button v-if="edit" class="button button--transparent" @click.prevent.stop="showContextMenu()">
        <i class="material-icons">more_vert</i>
      </button>
      <ContextMenu v-if="context" @selected="click"></ContextMenu>
    </div>
    <!-- <EditTimeInterval v-if="context || editValues" :rates="rates"></EditTimeInterval> -->
  </div>
</template>
<script>

import Country from './../../components/shared/Country.vue';
import EditTimeInterval from './../../components/actions/EditTimeInterval.vue';

export default {
  name: "TimePeriodRow",
  components: {
    Country,
    EditTimeInterval
  },
  data () {
    return {
      editValues: false,
    }
  },
  props: {
    rates: {
      type: Object,
      default () {
        return {}
      }  
    },
    index: {
      type: Number,
      default: null
    },
    tpIndex: {
      type: Number,
      default: null
    },
    edit: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    context() {
      var tpIndex = this.$store.state.tpIndex;
      var index = this.$store.state.index;
      return tpIndex == this.tpIndex && index == this.index;
    }
  },
  methods: {
    showContextMenu() {
      this.$store.state.tpIndex = this.tpIndex;
      this.$store.state.index = this.index;
    },
    getCountryCode(rates) {
      return Object.keys(rates)[0].substr(0,2).toLowerCase();
    },
    rateKey(index) {
      return Object.keys(this.rates)[index];
    },
    rateValue(index) {
      return Object.values(this.rates)[0][index];
    },
    click(action) {
      this.$store.state.index = null;
      if(action == "edit") {
        this.editValues = true;
      }
    }
  }
};
</script>

<style scoped lang="scss">

  @import './../../../assets/css/abstracts/_variables.scss';

  .time-period__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: $row;
    padding-left: 12px;
    padding-right: 60px;
    color: $text-header-color;
    font-size: .8rem;

    > div {
      display: inline-flex;
    }

    .country {
      flex-grow: 0;
    }

    button {
      height: 100%;
      position: absolute;
      top: 0px;
      right: 0px;
    }

    &--edit {
      padding-right: 100px;
    }
  }

  .time-period__row:hover {
    background: $row_hover;
  }
</style>  