<template>
  <div>
    <button class="row button w_100p" @click="toggleInterval()">
      <i class="material-icons material-icons--icon-space">add</i> add time period
    </button>
    <div v-if="interval" class="add_interval w_100p">
      <i class="material-icons">edit</i>
      <input v-model="startDate" type="text" class="no_margin_right"/>
      <span>-</span>
      <input v-model="endDate" type="text" class="no_margin_left"/>
      <div class="actions">
        <button type="button" class="button button--close" @click="closeInterval()">
          <i class="material-icons">close</i>
        </button>
        <button type="button" class="button button--check" @click="addNewInterval()">
          <i class="material-icons">check</i>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "AddTimeInterval",
  data () {
    return {
      interval: false,
      startDate: '',
      endDate: ''
    }
  },
  computed: {

  },
  mounted() {

  },
  methods: {
    toggleInterval() {
      this.interval = this.newInterval ? false : true
    },
    closeInterval() {
      this.interval = false;

    },
    addNewInterval() {
      this.interval = false;
    }
  }
};
</script>

<style scoped lang="scss">

  @import './../../../assets/css/abstracts/_variables.scss';

  .add_interval {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-flex;
    align-items: center;
    width: calc(100% + 74px);
    background: $row_header;
    height: 35px;

    input,
    span {
      margin-left: 15px;
      margin-right: 15px;
    }

    input {
      width: 82px !important;
      margin-left: 10px;
      padding: 0px 10px !important;
      text-align: center;
    } 

    > i {
      margin-left: 21px;
      font-size: 1.2rem;
    }

    .actions {
      display: inline-flex;
      position: absolute;
      top: 0px;
      right: 0px;
      height: 100%;

      button {
        width: 37px;
        
      }
    }
  }
</style>