<template>
  <div class="row edit_interval w_100p">
    <i class="material-icons">edit</i>
    <input type="number" class="no_margin_right"/>
    <select class="no_margin_left">
      <option value="eur">EUR</option>
      <option value="usd">USD</option>
      <option value="chf">CHF</option>
    </select>
    <span>=</span>
    <div class="input-wrapper">
      <input v-model="rateValue[0]" type="text" class="input--fix"/>
    </div>
    <div class="input-wrapper">
      <input v-model="rateValue[1]" type="text" class="input--fix"/>
    </div>
    <div class="input-wrapper">
      <input v-model="rateValue[2]" type="text" class="input--fix"/>
    </div>
    <div class="actions">
      <button type="button" class="button button--close" @click="closeInterval()">
        <i class="material-icons">close</i>
      </button>
      <button type="button" class="button button--check" @click="editInterval()">
        <i class="material-icons">check</i>
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: "EditTimeInterval",
  props: {
    rates: {
      type: Object,
      default() {} 
    }
  },
  methods: {
    toggleInterval() {
      this.interval = this.newInterval ? false : true;
    },
    closeInterval() {
      this.interval = false;
    },
    editInterval() {
      console.log("edit interval");
    },
    rateValue(index) {
      return Object.values(this.rates)[0][index];
    }
  }
};
</script>

<style scoped lang="scss">

  @import './../../../assets/css/abstracts/_variables.scss';

  .edit_interval {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-flex;
    align-items: center;
    border-top: 1px $border_secondary solid;
    border-bottom: 1px $border_secondary solid;
    width: calc(100% + 74px);
    background: $row_header;

    input,
    span {
      margin-left: 10px;
      margin-right: 10px;
    }

    input {
      width: 50px !important;
      padding: 0px 0px;
      text-align: center;
    }

    input.input--fix {
      width: 75px !important;
    }

    > i {
      margin-left: 21px;
      font-size: 1.2rem;
    }

    .actions {
      display: inline-flex;
      position: absolute;
      top: 0px;
      right: 0px;
      height: 100%;

      button {
        width: 37px;
        
      }
    }
  }
</style>